@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family:'Amatic SC', cursive;

		}
		body{
			 background: url('../imagens/pokemon.jpg');
   			 background-repeat: no-repeat;
    		 background-size: cover; 
             font-family: 'Amatic SC', cursive;

			/*background-attachment: fixed;*/
			/*cursor:crosshair;*/
			}
		.titulo{
			text-align: center;
			margin: 0 auto;
			margin-top: 10px;
			color: #00FFFF;
			font-size: 70px;
		}
		
		.telaJogo{
			margin: 0 auto;
			border: 5px solid black;
			width: 1000px;
			background:url("../imagens/tela.png");
			background-repeat: no-repeat;
    		background-size: 1070px;
    		background-position: all;

		}
		.img{
			width: 100%;
		}
		.jogador1{
			/*border: 1px solid black;*/
			width: 300px;
			height: 180px;
			margin-top: 6%;
			margin-left: -45px;
			/*background-color: red;*/
		}
		.jogador2{
			/*border: 1px solid black;*/
			width: 300px;
			height: 200px;
			margin-left: 72.4%;
			margin-top: 5%;
		}
		.areaJogador{
			border: 1px solid black;
			width: 100%;
			height: 150px;
			/*background: yellow;*/
			margin-top: 0.1px;
		}
		.textos{
			
			border: 4px solid black;
			height: 100%;
			width: 50%;
		}
		h3{	
			margin: center
			color: white;
			font-size: 35px;
		}
		.fimLuta{
			
			margin: auto;
			text-align: center;
			width: 100%;
			height: 100%;

			
		}
		.bt{
			
			margin-left: 540px; 
			margin-top: -15%;
			border: 6px solid black;
			height: 100%;
			width: 40%;
			

		} 
		#bt{
			
			margin-bottom: 100%;
			margin-left: 90px; 
			border: 5px solid black;


			}
		a#bt.bt1{
			margin-left: 60px;
			margin-top: 0%;
			background: red;
			color: black;
		}
		a#bt.bt2{
			color: black;
			margin-top: 0%;
			margin-left: 105px;
			background: blue;
		}
		a#bt.bt3{
			color: black;
			margin-top: 0%;
			margin-left: 60px;
			background: orange;
			}
		a#bt.bt4{
			margin-top: 0%;
			margin-left: 100px;
			background: white;
			color: black;
			
		}
		#hp{
			border: 3px solid black;
			width: 50%;
			font-size: 29px;			
		}
		.hp1{
			margin-top: -90px;
			margin-left: 200px;
			background:red;
			text-align: center;
			color:white;
			}
		.hp2{
			margin-top: -30px;
			margin-left: 0px;
			background:red;
			text-align: center;
			color:white;
			}
		
		.textos{
				
				text-align: center;
				color: black;
				font-size: 20px;

			
			}
		.derota{
			margin: 0 auto;
			color: black;
			color: black;
			text-align: center;
			margin-left: 15%;
			margin-right: 30%;
			position: absolute;
			font-size: 80px;

		}	
		.vence{
			width: 1000%;
		}
		 
		a.volta {
           
            color: rgb(45, 46, 46);
            font-family: 'Amatic SC', cursive; 
            text-transform: uppercase;
            font-size: 60px;
            text-decoration: none;
            margin-left: 50px;
            margin-top: -100px;
            color: #00FFFF;
            position: relative;
            top: -60px;
            width: 100px;
            
        } 
        a#bt {
           
            text-transform: uppercase;
            font-size: 43px;
            text-decoration: none;
            top:32px;
      
        } 
       
