@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family:'Amatic SC', cursive;

		}
		body{
			 background: url('../imagens/pokemon.jpg');
   			 background-repeat: no-repeat;
    		 background-size: cover; 
             font-family: 'Amatic SC', cursive;

			/*background-attachment: fixed;*/
			/*cursor:crosshair;*/
			}
		.titulo{
			text-align: center;
			margin: 0 auto;
			margin-top: 10px;
			color: white;
			font-size: 60px;
		}
		
		.telaJogo{
			margin: 0 auto;
			border: 1px solid red;
			width: 800px;
			height: 552px;
		}
		.img{
			width: 100%;
		}
		.jogador1{
			/*border: 1px solid black;*/
			width: 300px;
			height: 200px;
			margin-top: -0.4%;
			/*background-color: red;*/
		}
		.jogador2{
			/*border: 1px solid black;*/
			width: 300px;
			height: 200px;
			margin-left: 62.4%;
		}
		.areaJogador{
			border: 1px solid black;
			width: 100%;
			height: 150px;
			/*background: yellow;*/
			margin-top: 0px;
		}
		.textos{
			border: 1px solid black;
			height: 100%;
			width: 50%;
		}
		.botoes{
			margin-left: 50%;
			margin-top: -19%;
			border: 1px solid black;
			height: 100%;
			width: 50%;
		}
		#hp{
			border: 1px solid black;
			height: 15%;
			width: 40%;			
		}
		.hp1{
			margin-top: 3px;
			margin-left: 20px;
			background:white;
			}
		.hp2{
			margin-top: 15px;
			margin-left: 10px;
			background: red;
			}
		
		.textos{
				text-align: center;
				color: white;

			
			}
		.fazeataque{

		}	

		#bt{
			height: 30%;
			width: 40%;			
		}
		.bt1{
			margin-top: 100px;
			margin-left: 10px;
			background: yellow;
			color: black;
		}
		.bt2{
			color: black;
			margin-top: 30px;
			margin-left: 10px;
			background: red;
		}
		.bt3{
			color: white;
			margin-top: 5px;
			margin-left: 10px;
			background: blue;
			}
		.bt4{
			margin-top: 0%;
			margin-left: 10px;
			background: black;
			color: white;
		}
		a {
           
            color: rgb(45, 46, 46);
            font-family: 'Amatic SC', cursive; 
            text-transform: uppercase;
            font-size: 60px;
            text-decoration: none;
            margin-left: 15px;
            margin-top: -500px;
            color: white;
            position: relative;
            top: -60px;
            
        }   
		 
